body {
  background-color: #000;
  font-family: 'press_start_kregular', Consolas,"Courier New",monospace;
  color: #fff;
  margin: 0;
  text-align: center; 
  font-size: 1.4em;
}

.tile {
  display: inline-block;
  margin: 5px;
  position: relative;
  width: 300px;
  height: 360px;
}

.content {
  border-radius: 10%;
  height:300px;
  width: 300px;
}

.center {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.unselected > .caret {
  display: none;
}
.caret {
  position: absolute;
  bottom: 0;
  left: 0;
}

#bannerTop {
  max-width:100%;
  height: auto;
  padding-top: 15px;
  padding-bottom: 5%
}
#bannerBot {
  position: absolute;
  bottom: 0;
  width:100%;
  padding: 20px 0px;
}
#bannerBot > img {
  max-width:100%;
  height: auto;
}
#rickroll {
  width: 100%;
  height: auto;
}
