* {
  cursor: none;
}
h1 {
  text-align: center;
  font-size: 2.4em;
}
body {
  padding-top: 1%;
  background-image: url( back.jpg );
  font-family: 'veteran_typewriterregular', monospace;
}
#msg {
  clear: both;
  padding: 10px;
  font-size: xx-large;
  text-align: center;
}
#half {
  width:50%;
  text-align: center;
  float: left;
  font-size: xx-large;
}
#half-red {
  width:50%;
  text-align: center;
  float: right;
  font-size: xx-large;
  color: rgb(189, 0, 0);
}
.square {
  float: left;
  position: relative;
  width: 4%;
  padding-bottom: 4%;
  overflow: hidden;
}
.content {
  position: absolute;
  height: 100%;
  width: 100%;
} 
.centre {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.water { background-color: rgba(24, 150, 215, 0.71); }
.hit { 
  background-color: rgba(223, 10, 10, 0.71);
}
.miss {
  background-color: rgba(46, 204, 250, 0.71);
}
.axis { 
  background-color: #AAAAAA;
}
.selected {
  background-image: url( 'img/aim.png' );
  background-repeat: no-repeat;
  background-size: contain;
}
.ship { 
  background-color: rgba(24, 150, 215, 0.71);
}
