* {
  cursor: none;
}

body {
  padding-top: 3.6%;
}
#msg {
  clear: both;
  padding: 10px;
  font-size: x-large;
  text-align: center;
}
.square {
  float: left;
  margin: 2px;
  position: relative;
  width: 3.6%;
  padding-bottom: 3.6%;
  overflow: hidden;
}
.content {
  position: absolute;
  height: 100%;
  width: 100%;
} 
.centre {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.water { background-color: #0066CC; }
.ship { background-color: #444444; }
.hit { background-color: #DF0101; }
.miss { background-color: #2ECCFA; }
.axis { 
  margin: 1px;
  border: 1px solid black;
  background-color: #AAAAAA;
}
.selected { 
  margin: 0px;
  border: 2px solid red;
}
